/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}

section {
  background-color: #30948D;
  padding: 20px;
  margin-bottom: 20px;
}

#left {
  background-color: #30948D;
  float: left;
  width: 33.3%;
  color: #fff;
}

#middle {
  background-color: #9E1212;
  float: left;
  width: 33.3%;
  color: #fff;
}

#right {
  background-color: #30948D;
  float: left;
  width: 33.3%;
  color: #fff;
}

#full {
  background-color: #394549;
  padding: 20px;
  margin-bottom: 20px;
  overflow: auto;
  clear: both;
  color: #fff;
}

#division {
  background-color: #6ea3da;
  color: white;
  padding: 20px;
  margin-top: 20px;
}

aside {
  background-color: #a6b747;
  padding: 20px;
  margin-left: 30px;
  width: 33%;
  float: left;
  height: 200px;
  border: 1px solid #eee;
}

footer {
  background-color: #FFA500;
  padding: 20px;
  clear: both;
}
